[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
glom = "*"
pandas = "*"
numpy = "*"
scipy = "*"
"jinja2" = "*"
matplotlib = "*"
pint = "*"
psutil = "*"
tqdm = "*"
pyyaml = "*"
paramiko = "*"

[dev-packages]

[requires]
python_version = "3.7"
